/*---------------------------
Final Project CSS Index  
*****************************

1) Imports
2) CSS Reset
3) Default Page Styling
4) Typography
5) Media Screen Styling
6) Overview Page Styling
7) What Page Styling
8) Why Page Styling
9) How-To Page Styling

-----------------------------*/

/*---------------------------
1) Imports
-----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*---------------------------
2) CSS Reset
-----------------------------*/
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*---------------------------
3) Default Page Styling
-----------------------------*/
body {
    background: #3D3D3D;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    max-width: 1200px;
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
    border-left: 1em double #FFFFFF;
    border-right: 1em double #FFFFFF;
}
.skip-link {
    background: #FFFFFF;
    color: #3D3D3D;
    font-family: 'Merriweather', serif;
    padding: 4px;
    position: absolute;
    transform: translateY(-200%);
}
    .skip-link:focus {
        transform: translateY(0%);
    }

    .skip-link {
    /* Same as  before */
    transition: transform 0.3s;
    }
nav {
    background: #FFFFFF;
    text-align: center;
}
    nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
        /* normal nav links */
        nav ul li {
            list-style: none;
        }
            nav ul li a {
                text-decoration: none;
                display: block;
                padding: 1.3rem;
                font-size: 1.3em;
                color: #3D3D3D;
            }
                nav ul li a:link {
                    color: #3D3D3D;
                }
                nav ul li a:visited {
                    color: #3D3D3D;
                }
                nav ul li a:hover {
                    text-decoration: underline;
                }
        /* active nav link */
        nav ul li.active {
            background-color: #3D3D3D;
        }
            nav ul li.active a {
                color: #FFFFFF;
            }
                nav ul li.active a:link {
                    color: #FFFFFF;
                }
                nav ul li.active a:visited {
                    color: #FFFFFF;
                }
footer {
    text-align: center;
    margin: 1rem 0 0 0;
}

/*---------------------------
4) Typography
-----------------------------*/
/* headers */
h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
}
    h1 {
        font-size: 1.7em;
        padding: 1.7rem 1rem;
        text-align: center;
    }
    h2 {
        font-size: 1.3em;
        margin: 1.3rem 1rem 0 1rem;
        text-align: center;
    }
    h3 {
        font-size: 1.2em;
        margin: 1.2rem 1rem 0 1rem;
    }
/* paragraphs */
p {
    margin: 1rem 1rem;
    line-height: 1.5em;
}
footer p {
    margin: 0 0;
}
/* details */
details{
    margin-left: 1em;
}
/* hide only visually, but have it available for screen readers */
.sr-only {
    background: #3D3D3D;
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*---------------------------
5) Media Screen Styling
-----------------------------*/
@media screen and (max-width: 810px)  {
    /* vertical nav */
    nav ul {
        flex-flow: column nowrap;
        text-align: center;
        padding-bottom: 0.5em;
    }
        /* normal nav links */
        nav ul li {
            margin-top: 0.5em;
        }
        nav ul li a {
            display: block;
            padding: 0.5em 0;
        }
}

/*---------------------------
6) Overview Page Styling
-----------------------------*/

#overview {
    display: flex;
    flex-direction: column;
}
    #overview figure {
        text-align: center;
        margin: 1em 1em 0 1em;
    }
        #overview figure img {
            border-radius: 16px;
            max-width: 100%;
        }
    #overview a {
        background-color: #FFFFFF;
        margin: auto;
        padding: 1.3em;
        color: #3D3D3D;
        text-align: center;
        font-size: 1.3em;
        border-radius: 1.3em;
        text-decoration: none;
    }
        #overview a:link {
            color: #3D3D3D;
        }
        #overview a:visted {
            color: #3D3D3D;
        }
        #overview a:hover {
            text-decoration: underline;
        }

/*---------------------------
7) What Page Styling
-----------------------------*/

.what-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "written bulleted";
}
#what-written {
    grid-area: written;
    display: flex;
    flex-direction: column;
}
#what-written a {
    display: inline-block;
    align-self: center;
    background-color: #FFFFFF;
    padding: 1.3em;
    color: #3D3D3D;
    text-align: center;
    font-size: 1.3em;
    border-radius: 1.3em;
    text-decoration: none;
}
    #what-written a:link {
        color: #3D3D3D;
    }
    #what-written a:visted {
        color: #3D3D3D;
    }
    #what-written a:hover {
        text-decoration: underline;
    }
#what-bulleted {
    grid-area: bulleted;
}
    #what-bulleted figure {
        text-align: center;
        margin: 1em 1em 0 1em;
    }
        #what-bulleted figure img {
            border-radius: 16px;
            max-width: 100%;
        }
    #what-bulleted ul {
        list-style-position: inside;
        margin: 1em;
    }
        #what-bulleted ul li {
            margin-left: 1em;
        }
            #what-bulleted ul li ul {
                margin: 0;
            }
                #what-bulleted ul li ul li {
                    margin-left: 2em;
                }
            #what-bulleted ul li ol {
                margin: 0;
            }
                #what-bulleted ul li ol li {
                    margin-left: 2em;
                }
@media screen and (max-width: 810px)  {
    /* vertical nav */
    .what-container {
        grid-template-columns:
            1fr;
        grid-template-areas:
            "written"
            "bulleted";
    }
}

/*---------------------------
8) Why Page Styling
-----------------------------*/

.why-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "written bulleted";
}
#why-written {
    grid-area: written;
    display: flex;
    flex-direction: column;
}
#why-written a {
    display: inline-block;
    align-self: center;
    background-color: #FFFFFF;
    padding: 1.3em;
    color: #3D3D3D;
    text-align: center;
    font-size: 1.3em;
    border-radius: 1.3em;
    text-decoration: none;
}
    #why-written a:link {
        color: #3D3D3D;
    }
    #why-written a:visted {
        color: #3D3D3D;
    }
    #why-written a:hover {
        text-decoration: underline;
    }
#why-bulleted {
    grid-area: bulleted;
}
    #why-bulleted figure {
        text-align: center;
        margin: 1em 1em 0 1em;
    }
        #why-bulleted figure img {
            border-radius: 16px;
            max-width: 100%;
        }
    #why-bulleted ul {
        list-style-position: inside;
        margin: 1em;
    }
        #why-bulleted ul li {
            margin-left: 1em;
        }
            #why-bulleted ul li ul {
                margin: 0;
            }
                #why-bulleted ul li ul li {
                    margin-left: 2em;
                }
@media screen and (max-width: 810px)  {
    /* vertical nav */
    .why-container {
        grid-template-columns:
            1fr;
        grid-template-areas:
            "written"
            "bulleted";
    }
}

/*---------------------------
9) How-To Page Styling
-----------------------------*/

.how-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "written form";
}
#how-written {
    grid-area: written;
    display: flex;
    flex-direction: column;
}
#how-written figure {
    text-align: center;
    margin: 1em 1em 0 1em;
}
    #how-written figure img {
        border-radius: 16px;
        max-width: 100%;
        width: 75%;
    }
#how-written a {
    display: inline-block;
    align-self: center;
    background-color: #FFFFFF;
    padding: 1.3em;
    color: #3D3D3D;
    text-align: center;
    font-size: 1.3em;
    border-radius: 1.3em;
    text-decoration: none;
}
    #how-written a:link {
        color: #3D3D3D;
    }
    #how-written a:visted {
        color: #3D3D3D;
    }
    #how-written a:hover {
        text-decoration: underline;
    }
#how-form {
    grid-area: form;
}
    #how-form fieldset {
        border: none;
        margin: 1.3rem 1rem 0 1rem;
    }
        #how-form legend {
            font-size: 1.3em;
            text-align: center;
            font-family: 'Merriweather', serif;
        }
        #how-form label {
            display: block;
            margin: 1em;
        }
            #how-form input[type=checkbox] {
                width: 1.3rem;
                height: 1.3rem;
            }

@media screen and (max-width: 810px)  {
    /* vertical nav */
    .how-container {
        grid-template-columns:
            1fr;
        grid-template-areas:
            "written"
            "form";
    }
    #how-form input[type=checkbox] {
        width: 2.6rem;
        height: 2.6rem;
    }
}